
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;

}

:root {
  /*Base Color*/
  --background-color: #09090B;
  --surface-color: #18181B;
  --stroke-color: #27272A;
  --text-color-primary: #F4F4F5;
  --text-color-secondary: #A1A1AA;


  /*Product*/
  --brand-gradient: linear-gradient(45deg, #FC4A1A, #F7B733);
  --brand-color-primary: #F7B733;
  --brand-color-secondary: #FC4A1A;


  /*Desktop Fonts*/
  --font-family: "Inter", sans-serif;
  --h1-dsk: 900 4rem/1.2 var(--font-family);
  --h2-dsk: 900 3rem/1.2 var(--font-family);
  --h3-dsk: 900 2rem/1.2 var(--font-family);

  /*Mobile Fonts*/
  --h1-mb: 900 2.5rem/1.2 var(--font-family);
  --h2-mb: 900 1.5rem/1.2 var(--font-family);
  --h3-mb: 900 1.25rem/1.2 var(--font-family);

  /*Regular Fonts*/
  --text-sm: 400 0.875rem/1.0 var(--font-family);
  --text-md: 400 1rem/1.6 var(--font-family);

}